.card {
  max-height: 43rem;
  max-width: 28rem;
  background-color: var(--color-white);
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.08);

  &__img {
    height: 26rem;
    width: 26rem;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 20px;
  }

  &__bold {
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
  }

  &__details {
    font-size: 1.5rem;
    padding: 1rem;
    color: var(--color-grayish-blue);
  }
}
